@model StorageControl.Web.Models.Categories.CategoriesDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <h2 class="text-center">Categoria <strong>@Model.Category.Name</strong></h2>
            <br />
            <p class="text-center">
                <a href="../Edit/@Model.Category.Id" class="btn btn-default btn-sm">Editar</a>
                &ensp;
                <a href="../Delete/@Model.Category.Id" class="btn btn-danger btn-sm">Deletar</a>
            </p>  
        </div>
    </div>
</div>


